<div id="<%= dom_id ticket %>">
  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Ticket type:</strong>
    <%= ticket.ticket_type %>
  </p>

  <p>
    <strong>Photos:</strong>
    <%= ticket.photos %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= ticket.notes %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= ticket.customer_id %>
  </p>

</div>
