<div id="<%= dom_id machine %>">
  <p>
    <strong>Make:</strong>
    <%= machine.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= machine.model %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= machine.serial_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= machine.description %>
  </p>

  <p>
    <strong>Last service date:</strong>
    <%= machine.last_service_date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= machine.customer_id %>
  </p>

</div>
